// src/assets/css/index.sass
@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"
@import "./style.css"
@import "./typography.sass"

.text_intro
    color: white

.div_intro
    color: #FFFFFF
    background: #FFFFFF
    text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000






.card__recent-pic
    -webkit-box-shadow: 4px 5px 4px 1px rgba(0,0,0,0.36)
    -moz-box-shadow: 4px 5px 4px 1px rgba(0,0,0,0.36)
    box-shadow: 4px 5px 4px 1px rgba(0,0,0,0.36)
